body{
  margin: 8em;
  background: url("./Images/United_States.jpg");
  font-weight: bold;
  font-size: 1.02em;
}

.park-name:hover{
  color: cadetblue;

}

.home-page-header{
  margin: 1em;
  text-align: center;

}

.login-and-sign-up-form-div{
  margin: 4em;
  text-align: center
}

.login-messages{
  margin: 5em;
  text-align: center;
}

.button{
  margin: 1em;
}

.park-image-div{
  text-align: center;
}

.website-link:link{
  color: black;
}

.website-link:visited{
  color: black;
}

.website-link:hover{
  color: cadetblue;
}

.div-for-buttons{
  display: flex;
}