body{
  margin: 8em;
}

.park-name:hover{
  color: cadetblue;

}

.home-page-header{
  margin: 8em;
  text-align: center;

}

.login-and-sign-up-form-div{
  margin: 4em;
  text-align: center
}

.login-messages{
  margin: 5em;
  text-align: center;
}

.button{
  margin: 2em;
}