body{
  margin: 1em;
  padding: 2em;
  border: 1em;
  background: url("./Images/United_States.jpg");
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.park-name-by-state:hover{
  color: cadetblue;
}

.park-name{
  font-size: 1.2em;
}

.park-name:hover{
  color: cadetblue;
}

.home-page-header{
  margin: 1em;
  text-align: center;
}

.login-and-sign-up-form-div{
  margin: 4em;
  text-align: center
}

.login-messages{
  margin: 5em;
  text-align: center;
}

.button{
  margin: 1em;
}

.park-image-div{
  text-align: center;
}

.website-link{
  color: black;
  /* margin: 2em; */
}

.website-link:hover{
  color: cadetblue;
}

.div-for-buttons{
  display: flex;
}

.input-field{
  width: 30%;
  text-align: center;
}

.park-image-name{
  font-size: 1.5em;
}

.park-list-page{
  text-align: center;
  margin: 5em;
}

#comment-box {
  width: 30em;
  height: 10em;
  word-wrap: break-word;
  margin: 1em;
  border: .2em solid black
}

.the-park-list-and-profile{
  margin: 3em;
  padding: 2em;
  border: 1em;
}

.park-list-heading{
  text-align: center;
  margin: 1em;
}

.state-list-container{
  display: flex;
  justify-content: space-evenly;
}

.state-list-div{
  margin-left: 4em;
  margin-right: 4em;
  width: 25%;
  text-align: left; 
}

.park-description{
  margin-left: 5em;
  margin-right: 2em;
  margin-top: 2em;
}

.park-name-for-show-page{
text-align: center;
margin-bottom: 2em;
}

.park-container-for-show-page{
  display: flex;
  justify-content: space-evenly;
}

.image-for-show-page{
  width: 35em;
  animation-duration: 3s;
  animation-name: image;
}

.text-display-on-park-show-page{
  width: 35em;
  margin-right: 2em;
  animation-duration: 3s;
  animation-name: text;
}

@keyframes text{
  from{
margin-left: 100%;
width: 100%;
opacity: .25
  }

  to{
    margin-left: 0%;
    width: 35em;
    opacity: 1
  }
}

@keyframes image{
  from{
margin-left: 100%;
width: 100%;
opacity: .25
  }

  to{
    margin-left: 0%;
    width: 35em;
    opacity: 1
  }
}


.add-to-park-collection-button{
  margin-left: 5em;
}

.add-to-park-collection-button:hover{
  color: cadetblue;
}

.website-link-for-park-show-page{
  margin-left: 5em;
}

.website-link-for-park-show-page:link{
  color: black;
}

.website-link-for-park-show-page:visited{
  color: black;
}

.website-link-for-park-show-page:hover{
  color: cadetblue;  
}

.button-to-return-on-park-show-page{
  margin-left: 5em;
}

.button-to-return-on-park-show-page:hover{
  color: cadetblue;
}

.button-to-return:hover{
  color: cadetblue;
}

.add-to-park-collection-button-no-image:hover{
  color: cadetblue;
}

.delete-note:hover{
  color: cadetblue;
}


.edit-note:hover{
  color: cadetblue;
}

.edit-note{
  margin: 1em;
}

.return-to-park-list:hover{
  color: cadetblue
}

.delete-from-park-collection:hover{
  color: cadetblue
}

.park-collection-name:hover{
  color: cadetblue
}

.park-collection-heading{
text-align: center;
}

.park-collection-tag{
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.2em;
}

.home-page-app-description{
  margin-bottom: 2.5em;
  font-size: 1.2em;
  margin-left: 14em;
  margin-right: 14em
}

.home-page-heading{
  margin-bottom: 1em;
  margin-top: 2em;
  text-align: center;
  font-size: 2.5em;
}

.submit-buttons{
  margin-left: .5em;
  font-size: 1em;
}

.notes-display-container{
  display: flex;
  justify-content: flex-start;
}

.loading{
  animation-duration: 10s;
  animation-name: loading;
  animation-iteration-count: infinite
}



@keyframes loading {
  from {
    opacity: 1
  }

  10% {
   opacity: 0
  }

  20%{
    opacity: 1
  }
  30%{
    opacity: 0
  }
  40%{
    opacity: 1
  }
  50%{
    opacity: 0
  }
  60%{
    opacity: 1
    }
  70%{
    opacity: 0
  }
  80%{
    opacity: 1
  }
  90%{
    opacity: 0
  }

  to {
    opacity: 1
  }
}


